.cart-preview {
    display: none;
    background-color: var(--color-gray-300);
    padding: .6rem;
    margin-top: 1rem;
    border-radius: var(--border-radius-md);
    position: sticky;
}

.cart-preview-header {
    display: flex;
    flex-wrap: nowrap;
    gap: .6rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    div {
        flex-grow: 0;
    }

    button {
        flex-grow: 0;
    }
}

.cart-preview-summary {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: .6rem;
}

.open-cart-preview-button {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
    width: 2rem;
    height: 2rem;
    border: none;
    background: var(--color-gray-600);
    border-radius: 50%;
    margin: 0;
    padding: .3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    color: #fff;
}

.expanded .open-cart-preview-button {
    transform: rotate(0deg);
}

.cart-preview-text {
    line-height: 1rem;
}

.go-to-checkout-button {
    display: flex;
    border: none;
    background: var(--color-orange-400);
    border-radius: var(--border-radius-sm);
    padding: .5rem 1rem;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--color-gray-900);
    line-height: 1rem;
    text-align: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.cart-preview-body {
    margin-top: 0;
    background: #fff;
    overflow: hidden;
    height: 0;
    transition: all 0.3s ease-in-out;
    border-radius: var(--border-radius-sm);
}

.expanded .cart-preview-body {
    height: auto;
    height: calc-size(auto, size);
    margin-top: 1rem;
}

.cart-preview-item-list {
    padding: 0;
    margin: 0;
}

.cart-preview-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0.5rem;
    gap: .5rem;

    &:not(:first-child) {
        border-top: 1px solid var(--color-gray-300);
        margin-top: .3rem;
        padding-top: .3rem;
    }

    @media (min-width: 460px) {
        flex-wrap: nowrap;
    }
}

.cart-preview-item-interval {
    color: var(--color-gray-500);
    font-size: .9rem;
    margin-top: .5rem;
}

.cart-preview-item-from-date,
.cart-preview-item-to-date {
    color: var(--color-gray-900);
    font-size: 1rem;
}

.remove-selected-item-button {
    border: none;
    border-radius: var(--border-radius-sm);
    background-color: var(--color-gray-300);
    color: var(--color-gray-900);
    padding: .4rem .6rem;
    text-decoration: none;
    text-align: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin-top: .5rem;
}

.cart-preview-item-image {
    width: 100%;
    height: 6rem;
    object-fit: contain;
    aspect-ratio: 4 / 3;
    flex-grow: 0;

    @media (min-width: 460px) {
        width: 9rem;
        height: auto;
    }
}

.cart-preview-item-details {
    flex-grow: 1;
    width: calc(100% - 5.7rem);

    @media (min-width: 460px) {
        width: auto;
    }
}

.cart-preview-item-price {
    flex-grow: 0;
    flex-shrink: 0;
    text-align: right;
    width: 5.2rem;
    font-size: 1.2rem;
}

.cart-preview-item-price-currency {
    font-size: 0.8rem;
    color: var(--color-gray-500);
}

.cart-preview-item-name {
    margin: 0;
    font-weight: normal;
    font-size: 1.1rem
}

.cart-preview-discounts {
    border-top: 1px solid var(--color-gray-300);
    margin-top: .3rem;
    padding-top: .3rem;

    &:empty {
        display: none;
    }
}

.cart-preview-discount {
    display: flex;
    flex-wrap: nowrap;
    padding: .5rem;
}

.cart-preview-discount-name {
    flex-grow: 1;
}

.cart-preview-totals {
    border-top: 1px solid var(--color-gray-300);
    margin-top: .3rem;
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    padding: .3rem .5rem 1rem;
}

.cart-preview-totals-label {
    flex-grow: 1;
    text-align: right;
    font-size: 1.2rem;
    color: var(--color-gray-500);
}

.cart-preview-totals-value {
    flex-grow: 0;
    text-align: right;
    width: 7rem;
    font-size: 1.5rem;
}

.cart-preview-totals-value-currency {
    font-size: 0.8rem;
    color: var(--color-gray-500);
}
