footer {
    background-color: var(--background-color-footer);
    color: var(--text-color-inverse);
    padding: 1.5rem 0.5rem;

    .footer-links {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    a {
        color: var(--text-color-inverse);
        text-decoration: none;
        display: inline-block;
        padding: .3rem 0;

        &:hover {
            text-decoration: underline;
        }
    }

    .footer-copyright {
        margin-top: 1rem
    }

    p {
        margin: 0 auto;
        width: 100%;
        max-width: 1400px;
    }

    @media (min-width: 1250px) {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: rgba(0,0,0,0.85);
    }
}

.footer-container {
    padding: 0 0.5rem;
    width: clamp(320px, 100%, 1400px);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 1rem;

    .footer-links,
    .footer-social-media,
    .footer-contact-info {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            font-size: 1rem;
        }

        a {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            padding: .5rem 0;

            &:hover {
                text-decoration: none;
            }
        }

        svg {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    .footer-contact-info {
        grid-area: 1 / 1 / 2 / 2;
    }

    .footer-social-media {
        grid-area: 2 / 1 / 3/ 2;
    }

    .footer-links {
        grid-area: 3 / 1 / 4 / 2;
    }

    .footer-copyright {
        grid-area: 4 / 1 / 5 / 2;
    }

    @media (min-width: 1250px) {
        grid-template-columns: repeat(3, 1fr);

        .footer-contact-info {
            grid-area: 1 / 1 / 2 / 2;
        }

        .footer-social-media {
            grid-area: 1 / 2 / 2/ 3;
        }

        .footer-links {
            grid-area: 1 / 3 / 2 / 4;
        }

        .footer-copyright {
            grid-area: 2 / 1 / 3 / 4;
        }
    }
}
