.header {
    h1 {
        flex-grow: 1;
        font-size: 1.4em;
        margin: 0;
        font-weight: normal;
        line-height: 1.8rem;
    }
}

.top-bar-container {
    @media (min-width: 1250px) {
        background-color: rgba(255,255,255,0.85);
    }
}

.top-bar {
    display: none;
    flex-wrap: wrap;
    padding: 0 0.5rem;
    justify-content: space-between;
    width: clamp(320px, 100%, 1200px);
    margin: 0 auto;

    @media (min-width: 1000px) {
        display: flex;
    }
}

.social-media-text {
    font-size: 0.9rem;
    color: var(--text-color);
    display: none;

    @media (min-width: 460px) {
        display: block;
    }
}

.social-media-links {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;

    @media (min-width: 460px) {
        justify-content: flex-start;
    }
}

.social-media-icon {
    svg {
        width: 2rem;
        height: 2rem;
    }
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
}

.contact-phone,
.contact-email,
.contact-location {
    display: flex;
    align-items: center;
    padding: .2rem 0.5rem;
    font-size: 0.9rem;
    text-decoration: none;
    color: var(--text-color);
    gap: 0.5rem;

    @media (min-width: 720px) {
        padding: 0.5rem;
    }
}

.contact-phone {
    width: 8.7rem;
}
.contact-email {
    width: 15rem;
}

.contact-location {
    width: 18rem;
}

.header-container {
    background-color: rgba(255, 167, 38, 0.85);

    &>div {
        width: clamp(320px, 100%, 1200px);
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        justify-content: space-between;
    }
}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.header-menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    height: 4rem;
    width: 3rem;

    @media (min-width: 600px) {
        width: 4rem;
        height: 5rem;
    }

    @media (min-width: 1250px) {
        display: none;
    }

    .material-symbols-outlined {
        font-size: 2rem;
        color: var(--text-color);
    }
}

.header-logo {
    width: 10rem;

    @media (min-width: 400px) {
        width: 12rem;
    }

    @media (min-width: 600px) {
        width: 15rem;
    }

    @media (min-width: 1250px) {
        width: 20rem;
    }
}

.header-menu {
    display: none;

    @media (min-width: 1250px) {
        display: block;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
    }

    li {
        a {
            display: block;
            padding: 1rem 1.5rem;
            color: var(--text-color);
            text-decoration: none;
            font-size: 1.2rem;
            text-transform: uppercase;

            &:hover {
                color: var(--text-color-inverse);
            }
        }
    }

}

.cart-preview-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    height: 4rem;
    width: 3rem;
    position: relative;

    @media (min-width: 600px) {
        width: 4rem;
        height: 5rem;
    }

    &:hover {
        .material-symbols-outlined {
            color: var(--text-color-inverse);
        }
    }

    .material-symbols-outlined {
        font-size: 1.75rem;
        color: var(--text-color);

        @media (min-width: 1250px) {
            font-size: 2rem;
        }
    }

    .cart-preview-count {
        position: absolute;
        top: 2.3rem;
        left: .2rem;
        background-color: rgba(255,255,255,0.8);
        color: var(--text-color);
        border-radius: 50%;
        width: 1.2rem;
        height: 1.2rem;
        font-size: 0.9rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &:empty {
            display: none;
        }
    }
}

.language-switcher-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    height: 4rem;
    width: 3rem;
    position: relative;

    @media (min-width: 600px) {
        width: 4rem;
        height: 5rem;
    }

    &:hover {
        .material-symbols-outlined {
            color: var(--text-color-inverse);
        }
    }

    .material-symbols-outlined {
        font-size: 1.75rem;
        color: var(--text-color);

        @media (min-width: 1250px) {
            font-size: 2rem;
        }
    }

    .current-language-flag {
        position: absolute;
        top: 2.1rem;
        left: .2rem;
        width: 1.2rem;
        height: 1.2rem;
    }
}

.language-switcher-dropdown {
    position: absolute;
    top: 4rem;
    right: 0;
    background-color: #fff;
    border-radius: var(--border-radius-sm);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px;
    z-index: 3;
    display: none;

    &.is-open {
        display: block;
    }

    ul {
        list-style: none;
        padding: 0.5rem;
        margin: 0;

        li {
            a {
                display: block;
                padding: 0.5rem 1rem;
                color: var(--text-color);
                text-decoration: none;

                &:hover {
                    background-color: var(--button-secondary-hover-background-color);
                }
            }
        }
    }
}

.navigation-menu {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 19rem;
    background-color: #424242;
    color: var(--text-color-inverse);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;

    &.is-open {
        transform: translateX(0);
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        &:not(:first-child) {
            border-top: 0.0625rem solid #9E9E9E;
        }
    }

    a {
        display: flex;
        align-items: center;
        color: var(--text-color-inverse);
        text-decoration: none;
        font-size: 1rem;
        padding: .6rem 1rem;
    }
}
