.interval-select-text {
    @media (min-width: 600px) {
        font-size: 1.1rem;
    }

    @media (min-width: 1250px) {
        margin-top: 0;
    }
}

.bike-list {
    padding: 0;
    margin: 1.5rem 0 0 0;
    list-style: none;
}

.bike-list-item {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 0.5rem;

    @media (min-width: 460px) {
        flex-direction: row;
        align-items: flex-start;
    }

    @media (min-width: 600px) {
        gap: 1rem;
    }

    &:not(:first-child) {
        margin-top: 1rem;
        padding-top: 1rem;
        border-top: 0.0625rem solid var(--divider-color);
    }
}

.bike-item-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    aspect-ratio: 4 / 3;

    @media (min-width: 460px) {
        width: clamp(175px, 40%, 400px);
    }
}

.bike-item-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    container-type: inline-size;

    h2 {
        margin: .5rem 0 0 0;
        font-size: 1.3em;
        line-height: 1.15rem;
        font-weight: normal;
    }
}

.bike-attributes {
    margin: 1rem 0 0 0;
    padding: 0;
    list-style: none;

    @container (width > 500px) {
        display: flex;
        flex-wrap: wrap;

        li {
            flex-grow: 1;
            flex-basis: calc(50% - 0.5rem);
            padding-right: 1rem;
        }
    }

    li {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        gap: 0.5rem;
        padding: 0.3rem 0;
        line-height: 1.1rem;

        &:not(:first-child) {
            border-top: 1px solid var(--divider-color);
        }

        &:nth-child(2) {
            @container (width > 500px) {
                border-top: none;
            }
        }
    }
}

.bike-attribute-label {
    width: 6rem;
    flex-grow: 0;
    flex-shrink: 0;
    color: var(--text-color-gray-light);
    font-size: 0.9rem;
}

.bike-description {
    margin: 0.5rem 0 0 0;
    padding: 0.3rem 0;
    color: var(--text-color-gray-dark);
    font-size: 0.9em;
}

.bike-prices {
    margin: 0.7rem 0 0 0;
    padding: 0.4rem 1rem;
    list-style: none;
    background-color: var(--background-color-section);
    border-radius: var(--border-radius-sm);
    width: 10rem;

    li {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.bike-price-duration {
    flex-grow: 0;
    width: 3.5rem;
    color: var(--text-color-gray-light);
}

.bike-price-amount {
    font-size: 1.2rem;
}

.bike-price-currency {
    font-size: 0.8rem;
    color: var(--text-color-gray-light);
}

.select-interval-text,
.bike-select-interval-notice {
    padding: 0.7rem 1rem;
    background-color: var(--background-color-section);
    line-height: 1.1rem;
    border-radius: var(--border-radius-sm);
}
.bike-select-interval-notice {
    font-size: 0.9em;
    margin: 0.5rem 0 0 0;
}
.select-interval-text {
    margin: 1rem 0 0 0;
}

.interval-form {
    padding: 0.6rem;
    background-color: #64b5f6; /* blue 300 */
    border-radius: var(--border-radius-md);
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;

    @media (min-width: 420px) {
        flex-wrap: nowrap;
    }
}

.interval-form-date {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    flex-grow: 1;

    input,
    select {
        border-radius: var(--border-radius-sm);
        border: 1px solid #fff;
        background-color: #fff;
        padding: 0.25rem 0.5rem;
        box-shadow: var(--button-box-shadow);
        font-size: 0.9rem;

        @media (min-width: 600px) {
            height: 2.6rem;
            font-size: 1rem;
        }
    }

    @media (min-width: 600px) {
        input {
            width: clamp(10rem, 50%, 30rem);
        }

        select {
            width: clamp(5rem, 30%, 15rem);
        }
    }
}

.interval-form-date-fields {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    @media (min-width: 600px) {
        flex-direction: row;
    }
}

.interval-form-date-label {
    color: #fff;
}

.interval-form-submit {
    display: flex;
    flex-grow: 1;
    width: 100%;

    @media (min-width: 420px) {
        padding-top: 1.8rem;
        flex-grow: 0;
        max-width: 5rem;
    }

    button {
        background-color: var(--button-accent-background-color);
        box-shadow: var(--button-box-shadow);
        border: none;
        border-radius: var(--border-radius-sm);
        color: var(--text-color-inverse);
        flex-grow: 1;

        &:hover {
            background-color: var(--button-accent-hover-background-color);
        }

        span {
            font-size: 2rem;
        }
    }
}

.add-to-cart-container {
    margin-top: 1rem;

    button {
        background-color: var(--button-accent-background-color);
        box-shadow: var(--button-box-shadow);
        border: none;
        border-radius: var(--border-radius-sm);
        color: var(--text-color-inverse);
        padding: 0.4rem 1rem;
        font-size: 1.1rem;
        display: block;
        width: 100%;

        &:hover {
            background-color: var(--button-accent-hover-background-color);
        }

        @media (min-width: 460px) {
            width: 100%;
            max-width: 20rem;
        }
    }
}

.add-to-cart-dialog {
    border-radius: var(--border-radius-lg);
    border: 0.0625rem solid var(--divider-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem;
    width: clamp(300px, 90%, 600px);

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
    }

    p {
        padding: 1rem 0;
        text-align: center;
        font-size: 1.1rem;
    }

    .add-to-cart-dialog-actions {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        @media (min-width: 480px) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    .add-to-cart-dialog-checkout-btn {
        border-radius: var(--border-radius-sm);
        background-color: var(--button-primary-background-color);
        color: var(--text-color);
        padding: 0.4rem 1rem;
        text-decoration: none;
        text-align: center;
        box-shadow: var(--button-box-shadow);
        font-size: 1.1rem;

        &:hover {
            background-color: var(--button-primary-hover-background-color);
        }
    }

    .add-to-cart-dialog-continue-btn {
        border: none;
        border-radius: var(--border-radius-sm);
        background-color: var(--button-secondary-background-color);
        color: var(--text-color);
        padding: 0.6rem 1rem;
        text-decoration: none;
        text-align: center;
        box-shadow: var(--button-box-shadow);
        font-size: 1rem;

        &:hover {
            background-color: var(--button-secondary-hover-background-color);
        }
    }
}

.error-message {
    border-radius: var(--border-radius-sm);
    background-color: var(--error-color);
    color: var(--text-color-inverse);
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
}

.category-bk-kids {
    background-color: #FFEB3B; /* yellow 500 */
    color: var(--text-color);

    &:is(a):hover {
        background-color: #FDD835; /* yellow 600 */
    }
}
.category-bk-enduro-kids {
    background-color: #FF5722; /* deep orange 500 */
    color: var(--text-color-inverse);

    &:is(a):hover {
        background-color: #F4511E; /* deep orange 600 */
    }
}
.category-bk-super-enduro-bike-park {
    background-color: #E91E63; /* pink 500 */
    color: var(--text-color-inverse);

    &:is(a):hover {
        background-color: #D81B60; /* pink 600 */
    }
}
.category-bk-downhill {
    background-color: #616161; /* gray 700 */
    color: var(--text-color-inverse);

    &:is(a):hover {
        background-color: #424242; /* gray 800 */
    }
}
.category-bk-electric-mountain-bike {
    background-color: #2196F3; /* blue 500 */
    color: var(--text-color-inverse);

    &:is(a):hover {
        background-color: #1E88E5; /* blue 600 */
    }
}
.category-bk-accessories {
    background-color: #EEEEEE; /* gray 200 */
    color: var(--text-color);

    &:is(a):hover {
        background-color: #E0E0E0; /* gray 300 */
    }
}
.category-bk-electric-enduro {
    background-color: #4CAF50; /* green 500 */
    color: var(--text-color-inverse);

    &:is(a):hover {
        background-color: #43A047; /* green 600 */
    }
}
.category-bk-road-gravel {
    background-color: #795548; /* brown 500 */
    color: var(--text-color-inverse);

    &:is(a):hover {
        background-color: #6D4C41; /* brown 600 */
    }
}
.category-bk-guide {
    background-color: #F44336; /* red 500 */
    color: var(--text-color-inverse);

    &:is(a):hover {
        background-color: #E53935; /* red 600 */
    }
}

.category-badge {
    span {
        display: inline-block;
        padding: 0.2rem 0.5rem;
        font-size: 0.9rem;
        border-radius: var(--border-radius-sm);
        text-transform: uppercase;
    }
}

.category-navigation {
    margin-top: 1rem;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
    }

    li {
        width: calc(100%/3 - (0.4rem)*2/3);

        @media (min-width: 600px) {
            width: calc(100%/4 - (0.5rem)*3/4);
        }

        @media (min-width: 1250px) {
            width: calc(100%/9 - (0.5rem)*8/9);
        }
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3rem;
        line-height: 1rem;
        text-align: center;
        cursor: pointer;
        padding: 0 0.5rem;
        border-radius: var(--border-radius-sm);
        box-shadow: var(--button-box-shadow);
        text-decoration: none;
    }
}
