.range-selector-container {
    @media (min-width: 1250px) {
        padding-top: 2rem;
        background-color: rgba(0,0,0,0.7);
    }
}

.range-selector {
    padding: 1rem;
    background-color: #fff;
    width: clamp(320px, 100%, 1000px);
    margin: 0 auto;

    @media (min-width: 1250px) {
        border-radius: var(--border-radius-md);
    }
}

.interval-select-text {
    text-align: center;

    @media (min-width: 600px) {
        font-size: 1.3rem;
    }

    @media (min-width: 1250px) {
        margin-top: 0;
    }
}

.interval-form {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;


    @media (min-width: 420px) {
        flex-wrap: nowrap;
    }

    &.is-sticky {
        position: fixed;
        top: 0;
        z-index: 1000;
        border-radius: 0;
    }
}

.interval-form-date {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    flex-grow: 1;

    input,
    select {
        border-radius: var(--border-radius-sm);
        border: 1px solid var(--divider-color);
        background-color: #fff;
        padding: 0.25rem 0.5rem;
        box-shadow: var(--button-box-shadow);
        font-size: 0.9rem;

        @media (min-width: 600px) {
            height: 2.6rem;
            font-size: 1rem;
        }
    }

    @media (min-width: 600px) {
        input {
            width: clamp(10rem, 50%, 30rem);
        }

        select {
            width: clamp(5rem, 30%, 15rem);
        }
    }
}

.interval-form-date-fields {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    @media (min-width: 600px) {
        flex-direction: row;
    }
}

.interval-form-date-label {
    color: var(--text-color-gray-dark);
}

.interval-form-submit {
    display: flex;
    flex-grow: 1;
    width: 100%;

    @media (min-width: 420px) {
        padding-top: 1.8rem;
        flex-grow: 0;
        max-width: 5rem;
    }

    button {
        background-color: var(--button-primary-background-color);
        box-shadow: var(--button-box-shadow);
        border: none;
        border-radius: var(--border-radius-sm);
        color: var(--text-color);
        flex-grow: 1;

        &:hover {
            background-color: var(--button-primary-hover-background-color);
        }

        span {
            font-size: 2rem;
        }
    }
}

.range-selector-placeholder {
    display: none;
}
