.asset-1 {
    background-image: url('/resources/images/rent-bike-brasov-logo.svg');
}
.asset-2 {
    background-image: url('/resources/images/ht-logo.png');
}
.asset-3 {
    background-image: url('/resources/images/b4r-logo.png');
}
.asset-4 {
    background-image: url('/resources/images/vfc-logo.png');
}
.asset-5 {
    background-image: url('/resources/images/pb-logo.png');
}
